body {
  padding: 0%;
  margin: 0%;
}

header > img {
  max-width: 100%;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

main header {
  max-width: 100%;
  max-height: 70vh;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#form > div > div > div {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: visible;
  margin: 0 auto;
  white-space: nowrap;
}

#pills-tabContent ul {
  list-style-type: none;
  padding: 0%;
  width: 100%;
}

#pills-tabContent li {
  display: inline-block;
  padding: 1%;
  margin: 1%;
  width: fit-content;
  max-width: 40%;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

#form label {
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border: 1px #333 solid;
  border-radius: 0.4em;
  width: 100%;
}

form label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50% !important;
  border: 1px solid grey !important;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  align-content: center;
}
h2,
legend,
h2 + p,
legend + p {
  text-align: center;
  font-size: medium;
  font-weight: normal;
}

label img,
label span {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  max-width: 100%;
  max-height: 30vh;
  width: max-content;
}

label > span {
  display: block;
  white-space: pre-wrap;
}

:checked + label {
  border-color: #ddd;
}

input[type="checkbox"]:checked + label:before {
  content: "✓";
}

input[type="radio"]:checked + label:before {
  content: "◉";
}

:checked + label:before {
  background-color: grey;
  transform: scale(1);
}

:checked + label {
  transform: scale(0.9);
  box-shadow: 0 0 2px #333;
}

aside {
  text-align: center;
  width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#optional,
#motore,
#interni,
#esterni,
#selezione,
#totale,
#prezzo_optional,
#prezzo_motore,
#prezzo_interni,
#prezzo_esterni,
#prezzo,
#prezzoTotale {
  font-weight: bold;
  text-indent: 0;
}

table th,
table td {
  font-weight: normal;
  text-indent: 1em;
  padding: 0 1em;
}

aside > table {
  width: 80%;
}

.error {
  color: red;
}

input[type="submit"] + ul {
  list-style-type: none;
}
#recap form {
  margin: 2%;
  display: inline;
}
#recap {
  text-align: center;
}

#recap input,
#recap label {
  width: 200px;
}

#recap ul,
#recap li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type="submit"] {
  border-radius: 0.5em;
  border-color: #333;
  padding: 0.5em;
  margin: 1em;
}

input[type="submit"],
input[type="button"] {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

@media screen and (min-width: 768px) {
  #pills-tabContent,
  form > aside {
    display: inline-block;
    vertical-align: top;
  }

  #pills-tabContent {
    width: 60%;
    margin: 5% 0 0 5%;
    box-sizing: border-box;
  }

  form > aside {
    width: 20%;
    margin: 5% 5% 0 5%;
    box-sizing: border-box;
  }

  aside table {
    margin-left: 0px;
    margin-right: auto;
  }
}
