body {
  padding: 0%;
  margin: 0%;
}

header,
form {
  text-align: center;
  vertical-align: top;
}

header {
  margin-bottom: 2em;
}

h1,
h2,
h3 {
  text-align: center;
}

header img,
header div {
  max-width: 100%;
  max-height: 30vh;
  margin-left: auto;
  margin-right: auto;
}

form ul {
  list-style-type: none;
  padding: 0%;
  width: 100%;
  text-align: center;
}

form label,
form textarea,
form input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  width: 50%;
}

legend {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}

form label,
form textarea {
  margin-bottom: 0;
  margin-top: 0.4em;
}
form input {
  margin-top: 0;
  margin-bottom: 0.4em;
}

form textarea,
form input {
  border-radius: 0.4em;
}

form input[type="submit"] {
  text-align: center;
}

form textarea,
form input[type="text"],
form input[type="number"] {
  text-align: start;
}

form p {
  color: red;
}

#pills-tab li {
  width: 20%;
}

fieldset {
  text-align: center;
}

fieldset li {
  display: inline-block;
  text-align: left;
  margin: 1%;
}

fieldset label,
fieldset input {
  display: inline-block;
  width: min-content;
  margin: 0;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  background-color: gray;
  border: 2px solid white;
}

input[type="submit"],
input[type="button"] {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

div[role="tabpanel"] > div:last-of-type ul,
div[role="tabpanel"] > div:last-of-type li,
div[role="tabpanel"] > div:last-of-type div {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}
div[role="tabpanel"] > div:last-of-type ul {
  list-style-type: none;
  width: 100%;
}

div[role="tabpanel"] > div:last-of-type section li {
  max-width: 48%;
}

div[role="tabpanel"] > div:last-of-type div {
  margin: 2%;
  width: 100%;
  box-sizing: border-box;
}

div[role="tabpanel"] > div:last-of-type div > p {
  margin: 0;
  padding: 0;
  width: max-content;
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
div[role="tabpanel"] > div:last-of-type div > img ~ p {
  margin: 0;
  padding: 0;
  width: min-content;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

div[role="tabpanel"] > div:last-of-type div > img {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

div[role="tabpanel"] > div:last-of-type section li > div {
  margin: 4px;
  box-sizing: border-box;
}

#immagini ul,
#immagini li {
  display: block;
}

.error {
  color: red;
}
aside {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
aside {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
aside > ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  #auto label,
  #auto textarea,
  #auto input {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 30%;
  }

  div[role="tabpanel"] > form,
  div[role="tabpanel"] > div {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}
